{% extends 'base.html' %}
{% load static %}


{% block surat_harian %}

{% include 'earsip/header/main_header.html' %}


<div class="container-fluid mt-3 text-white">
    <form method="POST" >
        {% csrf_token %}
        <div class="input-group mb-1">
            <h5 class="mx-auto">Periksa Kembali Sebelum Disimpan</h5>
        </div>
    </form>
    <table id="tabel_surat_keluar" class="display table table-striped table-bordered text-white order-column" style="width:100%; overflow-y: auto ;">
        <thead>
            <tr>
                <th class="text-center">No</th>
                <th class="text-center">No Surat</th>
                <th class="text-center">Kepada</th>
                <th class="text-center">Tanggal Surat</th>
                <th class="text-center">Perihal</th>
                <th class="text-center">Klasifikasi</th>
                <th class="text-center">Files</th>
                <th class="text-center">Aksi</th>
                <th class="text-center">Simpan</th>
        </thead>
        <tbody>
                {% for data in temp_surat %}
                        <tr>
                            <td class="text-center ">{{ forloop.counter }}</td>
                            <td>{{ data.no_surat }}</td>
                            <td>{{ data.kepada }}</td>
                            <td class="text-center ">{{ data.tgl_surat | date:"d M Y"}}</td>
                            <td>{{ data.perihal }}</td>
                            <td class="text-center ">{{ data.klasifikasi }}</td>
                            <td class="d-flex justify-content-center" > 
                                <div style="margin-top: 6px;">
                                    <a  class="btn btn-success btn-sm   fa-solid fa-file-pdf" aria-current="page" title="Files"  target="_blank" href="/upload/{{ data.upload_file_arsip }}"> </a> 
                                </div>
                             
                            </td>
                            <td class="text-center px-4"> 
                                <button type="button" class="btn btn-success btn-sm  fas fa-edit"  data-bs-toggle="modal"  data-placement="bottom" title="Edit" data-bs-target="#button_edit_surat_keluar{{ data.id }}" ></button>
                                <button type="button" class="btn btn-danger btn-sm   fa fa-trash"  data-bs-toggle="modal" data-placement="bottom" title="Hapus" data-bs-target="#button_delete_olah_data_harian{{ data.id }}"></button>
                                <button type="button" class="btn btn-secondary   btn-sm fa fa-info-circle"  data-bs-toggle="modal" data-placement="bottom" title="Info" data-bs-target="#button_delete_olah_data_harian{{ data.id }}"></button>

                            </td>
                         <td class="text-center px-3"> 
                                <button type="button" class="btn btn-danger btn-sm   fa-solid fa-print"  data-bs-toggle="modal" data-placement="bottom" title="Hapus" data-bs-target="#button_delete_olah_data_harian{{ data.id }}"></button>
                            </td> 
                        </tr>
                {% endfor %}                
        </tbody>
    </table>
</div>

  
{% include 'earsip/modal/surat/surat_keluar.html' %}

<div class="container">
    <footer class="">
        <p class="text-center text-muted">&copy; 2023 - {% now "Y" %}  e-Arsip - Baranahan</p>
    </footer>
</div>


{% endblock surat_harian %}







