
<!-- modal untuk edit Edit Surat Keluar -->

  {% for data in temp_surat %} 
    <div class="modal fade" id="button_edit_surat_keluar{{ data.id }}" tabindex="-1" aria-labelledby="edit_klasifikasi" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="edit_klasifikasi">Edit Surat Keluar</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'edit_surat_keluar' data.id %}" method="POST" class="was-validated">
              {% csrf_token %}
              <div class="modal-body">
                  <div class="d-flex gap-2 mb-3"  >

                        <input type="text" class="form-control" name="no_surat" required value="{{ data.no_surat }}">
                        <input type="text" class="form-control" name="kepada" required value="{{ data.kepada }}">
                        <input type="date" class="form-control" id="inputAddress" name="tanggal" placeholder="Tanggal Surat" required >
                      
                  </div>

                  <div class="d-flex gap-2 mb-3"  >
                      <input type="text" class="form-control" name="prihal" required value="{{ data.perihal }}">

                      <div class="col-4">

                        <select class="form-select" aria-label="Default select example" name="klasifikasi" required >
                          <option value="">Klasifikasi Surat</option>
                          {% for data in klasifikasi %}
                              <option value="{{ data }}"> {{  data }}</option>
                          {% endfor %}
        
                        </select>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endfor %}


  <!-- modal untuk delete Surat Keluar -->

{% for data in temp_surat %} 
      <div class="modal fade" id="button_delete_surat_keluar{{ data.id }}" tabindex="-1" aria-labelledby="delete_klasifikasi" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="delete_klasifikasi">Hapus Surat Keluar</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'delete_surat_keluar' data.id %}" method="POST">
              {% csrf_token %}
              <div class="modal-body">
                <p>Apakah yakin No Surat "{{data.no_surat}}" ini ingin dihapus?</p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Hapus</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endfor %}


{% for data in temp_surat %} 
      <div class="modal fade" id="button_simpan_ke_arsip{{ data.id }}" tabindex="-1" aria-labelledby="delete_klasifikasi" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="delete_klasifikasi">Simpan Ke Arsip</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'delete_surat_keluar' data.id %}" method="POST">
              {% csrf_token %}
              <div class="modal-body">
                <p>Apakah yakin No Surat "{{data.no_surat}}" ini ingin dihapus?</p>
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Hapus</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endfor %}























{% comment %} untuk Print {% endcomment %}

{% comment %} {% for data in temp_surat %} 
      <div class="modal fade" id="button_print{{ data.id }}" tabindex="-1" aria-labelledby="delete_klasifikasi" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="delete_klasifikasi">Print</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form action="{% url 'delete_surat_keluar' data.id %}" method="POST">
              {% csrf_token %}
              <div class="modal-body">
                <div class=""> 
                    <div class="text-center ">KEMENTERIAN PERTAHANAN RI</div>
                    <div class="text-center ">BADAN SARANA PERTAHANAN</div>
                    <div class="text-center mt-3 fw-bold ">LEMBAR DISPOSISI</div>
                </div>

                <table id="example" class="display table table-striped  text-white order-column" style="width:100%">  
                <thead>
                    <tr>
                        <th> </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th> </th>
                        <th></th>
                    </tr>
                    <tr>
                      <th >No Agenda</th>
                      <th>: {{data.no_surat}}</th>
                      <th></th>
                      <th></th>
                      <th>Tanggal</th>
                      <th>Salary</th>
                    </tr>
                    <tr>
                      <th class="table-striped" >Name</th>
                      <th>"{</th>
                      <th></th>
                      <th></th>
                      <th> jcjcj</th>
                      <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Tiger Nixon</td>
                        <td>System Architect</td>
                        <td>Edinburgh</td>
                        <td>61</td>
                        <td>2011-04-25</td>
                        <td>$320,800</td>
                    </tr>
                </tbody>
              </table>





                
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Hapus</button>
              </div>
            </form>
          </div>
        </div>
      </div>
{% endfor %} {% endcomment %}






{