{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% compress css inline %}

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/dataTables.bootstrap5.min.css' %}">
    {% endcompress %}


    {% compress js inline %}
    <script type="text/javascript" src="{% static 'js/chart.min.js' %}"></script> 
    {% endcompress %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/kemhan_logo.png' %}">

    <title>{{ page_title }}</title>

</head>
<body style="font-family: Oswald, Helvetica, Arial, sans-serif!important; font-size: 14px;" class="text-light">




            {% block tambah_surat %}{% endblock tambah_surat %}





            {% block dashboard %}{% endblock dashboard %}
            {% block laporan %}{% endblock laporan %}
            {% block surat %}{% endblock surat %}
            {% block semua_surat %}{% endblock semua_surat %}
            {% block setting_klasifikasi %}{% endblock setting_klasifikasi %}
            {% block surat_harian %}{% endblock surat_harian %}
            {% block duplikat_surat %}{% endblock duplikat_surat %}
            {% block surat_terhapus %}{% endblock surat_terhapus %}


            {% comment %} Sekretariat {% endcomment %}

            {% block sekretariat_index %}{% endblock sekretariat_index %}
            

            {% compress js inline %}
            <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/font_awsome.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery-3.7.1.slim.min.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
            <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script> 
            <script type="text/javascript" src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script> 
            
            {% endcompress %}

</body>
</html>